<div
  data-testid="login-page"
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
>
  <div
    class="card"
    data-testid="form-sign-up"
  >
    <div class="card-header text-center">
      <h1>Login</h1>
    </div>
    <form
      class="card-body"
      (ngSubmit)="onClickLogin()"
    >
      <div class="mb-3">
        <label class="form-label" for="email">E-mail</label>
        <input
          class="form-control"
          id="email"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <app-alert *ngIf="error" type="danger">{{error}}</app-alert>
      <div class="text-center">
        <app-button
          [disabled]="isDisabled() || apiProgress"
          [apiProgress]="apiProgress"
        >
          Login
        </app-button>
      </div>
    </form>
  </div>
</div>
