<div
  class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
  *ngIf="!signUpSuccess; else successMessage"
>
  <div
    class="card"
    data-testid="form-sign-up"
  >
    <div class="card-header text-center">
      <h1>Sign Up</h1>
    </div>
    <form
      class="card-body"
      (ngSubmit)="onClickSignUp()"
      [formGroup]="form"
    >
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          id="username"
          formControlName="username"
        />
        <div
          data-testid="username-validation"
          *ngIf="form.get('username')?.errors &&
           (form.get('username')?.touched || form.get('username')?.dirty)"
        >
          <div *ngIf="form.get('username')?.errors?.['required']">
            Username is required
          </div>
          <div *ngIf="form.get('username')?.errors?.['minlength']">
            Username must be at least 4 characters long
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">E-mail</label>
        <input
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="passwordRepeat">Password Repeat</label>
        <input
          class="form-control"
          id="passwordRepeat"
          type="password"
          formControlName="passwordRepeat"
        />
      </div>
      <div class="text-center">
        <app-button
          [disabled]="isDisabled()"
          [apiProgress]="apiProgress"
        >
          Sign Up
        </app-button>
      </div>
    </form>
  </div>
</div>
<ng-template #successMessage>
  <app-alert>
    Please check your e-mail to activation your account
  </app-alert>
</ng-template>




